@font-face {
  font-family: "iconfont"; /* Project id 4645634 */
  src: url('iconfont.woff2?t=1723261213415') format('woff2'),
       url('iconfont.woff?t=1723261213415') format('woff'),
       url('iconfont.ttf?t=1723261213415') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-24gl-userGroup:before {
  content: "\eb25";
}

.icon-chengyuanguanli:before {
  content: "\e612";
}

.icon-shuqian:before {
  content: "\e65d";
}

.icon-rengongshencha:before {
  content: "\e627";
}

.icon-zhinengshencha:before {
  content: "\e979";
}

.icon-tuanduiquanxian:before {
  content: "\e679";
}

.icon-code:before {
  content: "\e616";
}

.icon-shezhi:before {
  content: "\e61c";
}

.icon-banben:before {
  content: "\e71f";
}

.icon-hebingqingqiu:before {
  content: "\e675";
}

.icon-zhinengwenda:before {
  content: "\e651";
}

.icon-xiangmuzongjie:before {
  content: "\e6a7";
}

.icon-xiangmuxietong:before {
  content: "\e615";
}

.icon-daimacangku:before {
  content: "\e644";
}

.icon-xiangmugailan:before {
  content: "\e600";
}

.icon-zhengxu:before {
  content: "\e60f";
}

.icon-daoxu:before {
  content: "\e610";
}

